#prancheta {
    margin: auto;
    background-color: #b27856;
    border-radius: 1.5%;
    position: relative;
    top: 100px;
}


#prancheta #suporteSuperior {
    width: 10%;
    height: 10%;
    background-color: #D9D9D9;
    position: absolute;
    top: -6%;
    left: 50%;
    transform: translateX(-50%);
}

#prancheta #suporteInferior {
    width: 26%;
    height: 4%;
    background-color: #D9D9D9;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}


form {
    width: 1800px;
    height: 90%;
    max-width: 90%;
    background-color: #EDEDED;
    padding: 2% 5%;
    color: black;
    display: grid;
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: 70% 30%;
}



@media (min-width: 650px) {
    form {
        grid-template-areas: "h1 h1" "lbRe lbDa" "re da" "lbDe lbDe" "de de" "lbEm lbEm" "em em" "lbTi lbTi" "ti ti" "lbMe lbMe" "me me" "su su" "a a";
        grid-template-rows: 10% 4% 3% 4% 3% 4% 3% 5% 3% 4% 46% 5% 5%;
    }

    #data {
        margin-left: 10%;
    }

    #prancheta {
        aspect-ratio: 100 / 135;
        width: 1000px;
        max-width: 95%;
        margin: auto;
        min-width: 650px;
    }

    input[type="submit"] {

        height: 70%;

    }

    input[type="reset"] {
        height: 70%;
    }

}

@media (max-width: 650px) {

    form {
        grid-template-areas: "h1 h1" "lbRe lbRe" "re re" "lbDa lbDa" "da da" "lbDe lbDe" "de de" "lbEm lbEm" "em em" "lbTi lbTi" "ti ti" "lbMe lbMe" "me me" "su su" "a a";
        grid-template-rows: 80px 40px 30px 40px 30px 40px 30px 40px 30px 60px 30px 60px 200px 80px 40px;
    }

    #prancheta {
        height: 1000px;
        width: 650px;
        max-width: 120vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    main {
        overflow-x: hidden;
    }

    input[type="submit"] {
        height: 40px;
    }

    input[type="reset"] {
        height: 40px;
    }

}

form>h1 {
    grid-area: h1;
    font-size: 2em;
}

#lbRemetente {
    grid-area: lbRe;

}

#remetente {
    grid-area: re;

}

#lbData {
    grid-area: lbDa;
}

#data {
    grid-area: da;
}
main{
    min-height: 100vh;
}

#lbDestinatario {
    grid-area: lbDe;
}

#destinatario {
    grid-area: de;
}

#lbEmail {
    grid-area: lbEm;
}

#email {
    grid-area: em;
}

#lbTitulo {
    grid-area: lbTi;
    display: flex;
    align-items: end;
    justify-content: center;
}

#titulo {
    grid-area: ti;
}

#lbMensagem {
    grid-area: lbMe;
    display: flex;
    align-items: end;
    justify-content: center;
}

#mensagem {
    grid-area: me;
    padding: 2%;
}

input[type="submit"] {
    grid-area: su;
    width: 50%;
    background-color: #BBBBBB;
    margin: auto;
}

input[type="reset"] {
    grid-area: a;
    width: 50%;
    margin: auto;
    background-color: #BBBBBB;
}

body {
    font-size: 20px;
}

input,
textarea {
    font-size: 0.8em;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    padding: 0 2% 0 2%;
}

label {
    margin-top: 2%;
    display: block;
}


h1 {
    color: black;
    text-align: center;
    margin-top: 2%;
}



.carta {
    aspect-ratio: 100 / 135;
    background-color: white;
    padding: 2% 3% 5% 2%;
    display: grid;
    grid-template-rows: 1% 2% 5% 90% 1%;
}

.cartaE {
    width: 1200px;
    max-width: 95%;
    margin: 200px auto 100px auto;
}

@media (min-width: 1080px) {
    .cartaE {
        font-size: 20px;
    }
}

@media (max-width: 1080px) {
    .cartaE * {
        font-size: 2vw;
    }
}



.carta pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 2%;
}

h2 {
    text-align: center;
    margin-top: 2%;
}

#dataCarta {
    text-align: end;
}

#emailCarta {
    text-align: end;
}

.expanded {
    width: 1200px;
    z-index: 2400;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.cortina{
    background-color: #0000008a;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    z-index: 2000;
    overflow: auto;
}

@media (max-width:1300px){

    .expanded{
        scale: 0.9;
    }

}

@media (max-width:1200px){

    .expanded{
        scale: 0.8;
    }

}

@media (max-width:1000px){

    .expanded{
        scale: 0.7;
    }

}

@media (max-width:870px){

    .expanded{
        scale: 0.6;
    }

}

@media (max-width:730px){

    .expanded{
        scale: 0.5;
    }

}

@media (max-width:610px){
    .expanded{
        scale: 0.4;
    }
}

@media (max-width:490px){
    .expanded{
        scale: 0.3;
    }
}

@media (max-width:380px){
    .expanded{
        scale: 0.2;
    }
}


#sair{
    position: fixed;
    right: 5%;
    top: 5%;
    background-color: black;
    border-radius: 100%;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}
#sair:hover{
    cursor: pointer;
    background-color: rgb(40, 40, 40);
}

    .controls {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 20px;
      z-index: 1000;
    }

    .zoom-button {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: none;
      background-color: #000000;
      color: white;
      font-size: 24px;
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease;
    }

    .zoom-button:hover {
      background-color: #686868;
    }