form {
    width: 1800px;
    max-width: 95%;
    background-color: #414141;
    margin: auto;
    padding: 2% 5%;
    color: white;
    display: grid;
    grid-template-columns: 70% 30%;
}

@media (min-width: 650px) {
    form {
        grid-template-areas: "h1 h1" "lbRe lbDa" "re da" "lbDe lbDe" "de de" "lbEm lbEm" "em em" "lbTi lbTi" "ti ti" "lbMe lbMe" "me me" "su su" "a a";
        grid-template-rows: 80px 40px 30px 40px 30px 40px 30px 60px 30px 60px 200px 80px 40px;
    }
}

@media (max-width: 650px) {
    form {
        grid-template-areas: "h1 h1" "lbRe lbRe" "re re" "lbDa lbDa" "da da" "lbDe lbDe" "de de" "lbEm lbEm" "em em" "lbTi lbTi" "ti ti" "lbMe lbMe" "me me" "su su" "a a";
        grid-template-rows: 80px 40px 30px 40px 30px 40px 30px 40px 30px 60px 30px 60px 200px 80px 40px;
    }
}

form>h1 {
    grid-area: h1;
}

#lbRemetente {
    grid-area: lbRe;

}

#remetente {
    grid-area: re;

}

#lbData {
    grid-area: lbDa;
}

#data {
    grid-area: da;
}

#lbDestinatario {
    grid-area: lbDe;
}

#destinatario {
    grid-area: de;
}

#lbEmail {
    grid-area: lbEm;
}

#email {
    grid-area: em;
}

#lbTitulo {
    grid-area: lbTi;
    text-align: center;
    margin-top: 30px;
}

#titulo {
    grid-area: ti;
}

#lbMensagem {
    grid-area: lbMe;
    text-align: center;
    margin-top: 30px;
}

#mensagem {
    grid-area: me;
}

input[type="submit"] {
    grid-area: su;
    margin-top: 40px;
    width: 50%;
    height: 40px;
    margin: 30px auto;
}

input[type="reset"] {
    grid-area: a;
    width: 50%;
    height: 40px;
    margin: auto;
}

body {
    font-size: 20px;
}

input {
    font-size: 0.8em;
}

label {
    margin-top: 10px;
    display: block;
}


@media (max-width: 767px) {
    form {
        width: 90%;
    }
}

h1 {
    color: white;
    text-align: center;
    margin-top: 2%;
}


#carta {
    width: 80%;
    background-color: white;
    padding: 2% 3% 5% 2%;
    margin: 2% auto;
}

#carta pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 2%;
}

h2 {
    text-align: center;
    margin-top: 2%;
}

#dataCarta {
    text-align: end;
}

#emailCarta {
    text-align: end;
}